/* Author: Martin Knoll */

* 
{
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: Georgia;
	color: #000;
	background: #fff;
}


a {
	color: #ccc;
}

p {
	text-align: center;
}

img {
	height: 600px;
}

nav {
	display: block;
}

nav ul {
	padding: 0;
	margin: 1.5em 0 0 0;
	text-align: center;
}

nav li {
	margin: 0 10px;
	display: inline;
	list-style: none;
	padding: 7px;
	cursor: pointer;
}

input {
	margin-left: 5px;
}

select {
	margin-left: 5px;
	width: 180px;
}

div#wrapper {
	width: 1000px;
	height: 100%;
	margin: 0 auto; 
	font-size: 1em;
}

div#question {
	position: absolute;
	width: 80%;
	left: 10%;
	top: 45%;
}

div#form {
	position: absolute;
	width: 80%;
	left: 10%;
	top: 10%;
}

div#searchbar {
	position: relative;
	text-align: center;
}

div#searchbar a.menu {
	display: inline-block;
	color: white;
	width: 30px;
	height: 30px;
	overflow: hidden;
	text-indent: -9999px;
	margin: 5px;
}

div#searchbar a.search {
	background: url("/img/lupe.png") no-repeat center center;
}

div#searchbar a.lectureset {
	background: url("/img/zahnrad.png") no-repeat center center;
}

div#searchbar #lectureset {
	position: absolute;
	z-index: 10000;
	left: 300px;
	top: 40px;
	margin: 0px;
	padding: 30px;
	background: #ccc;
	color: #fff;
	border-radius: 10px;
	text-align: left;
}

div#searchbar #lectureset ul {
	padding: 10px 10px 0px 20px;
	margin: 0;
}

div#searchbar #lectureset a {
	color: black;
}

div.solution {
	visibility: hidden;
	text-align: left;
	margin: 4em auto 0 auto;
	width: 800px;
}

#errors {
	border:solid 1px #E58E8E;
	padding: 8px;
	margin:15px auto;
	display:block;
	width:449px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background:#FFE6E6;
}

#errors li {
	padding:2px;
	list-style:none;
}

#errors li:before {
	content: ' - ';
}

#errors #info {
	font-weight:bold;
}

#errors #info:before {
	content: '';
}

#success {
	border:solid 1px #83D186;
	padding: 8px;
	margin:15px auto;
	display:block;
	width:449px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background:#D3EDD3;
	font-weight:bold;
}

#lecture {
	margin-right: 30px;
}
